.card {
  // margin-top: 65px;
  margin-bottom: 0;
}
.gone {
  visibility: hidden;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}

strong {
  font-size: medium;
  font-size: medium;
  font-style: normal;
}
.blue {
  color: #007bff;
  font-size: small;
  font-style: normal;
}
