<div class="sidebar-wrapper">
  <div>
    <div class="logo-wrapper">
      <a href="index-kit.html">
        <img class="img-fluid for-light" src="../../../assets/images/logo/small-logo.png" alt="">
        <img class="img-fluid for-dark" src="../../../assets/images/logo/small-white-logo.png" alt="">
      </a>
      <div class="back-btn"><i class="fa fa-angle-right"></i></div>
    </div>

    <div class="logo-icon-wrapper">
      <a href="index-kit.html"><img class="img-fluid" src="../../../assets/images/logo-icon.png" alt=""></a>
    </div>

    <nav class="sidebar-main">
      <div id="sidebar-menu">
        <ul class="sidebar-links" id="simple-bar" data-simplebar>
          <li class="back-btn">
            <a href="index-kit.html" class="active">
              <img class="img-fluid" src="../../../assets/images/logo-icon.png" alt="">
            </a>
            <div class="mobile-back text-end">
              <span>بازگشت</span>
              <i class="fa fa-angle-left ps-2" aria-hidden="true"></i>
            </div>
          </li>

          <!-- Top-level items -->
          <li class="sidebar-list" *ngFor="let item of topLevelItems; let i = index" [class.open]="isOpen(i)">
            <a href="#" class="sidebar-link sidebar-title"
               [class.active]="isOpen(i)"
               (click)="onItemClick(i, $event)">
               <img [src]="item.icon" alt="{{ item.title }} icon" width="20" height="20" />

              <span class="sibebar-link-title">{{ item.title }}</span>
              <div class="according-menu">
                <i class="fa" [ngClass]="isOpen(i) ? 'fa-angle-down' : 'fa-angle-left'"></i>
              </div>
            </a>
          
            <!-- just keep submenu, CSS will handle animation -->
            <ul class="sidebar-submenu">
              <li *ngFor="let sub of item.children">
                <a [routerLink]="sub.href" [class.active]="sub.active">{{ sub.title }}</a>
              </li>
            </ul>
          </li>
          
          <!-- /Top-level items -->
        </ul>
      </div>
    </nav>
  </div>
</div>
