   <!-- Page Sidebar Start-->
   <div class="sidebar-wrapper">
    <div>
      <div class="logo-wrapper"><a href="index-kit.html" data-bs-original-title="" title=""><img class="img-fluid for-light" src="../../../assets/images/logo/small-logo.png" alt=""><img class="img-fluid for-dark" src="../../../assets/images/logo/small-white-logo.png" alt=""></a>
        <div class="back-btn"><i class="fa fa-angle-right"></i></div>
      </div>
      <div class="logo-icon-wrapper"><a href="index-kit.html" data-bs-original-title="" title=""><img class="img-fluid" src="../../../assets/images/logo-icon.png" alt=""></a></div>
      <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></div>
        <div id="sidebar-menu">
          <ul class="sidebar-links" id="simple-bar" data-simplebar="init" style="display: block;"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="left: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
            <li class="back-btn"><a href="index-kit.html" class="active" data-bs-original-title="" title=""><img class="img-fluid" src="../../../assets/images/logo-icon.png" alt=""></a>
              <div class="mobile-back text-end"><span>بازگشت</span><i class="fa fa-angle-left ps-2" aria-hidden="true"></i></div>
            </li>
            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="../../../assets/theme/index.html" data-bs-original-title="" title=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg><span>داشبورد </span><div class="according-menu"><i class="fa fa-angle-left"></i></div></a></li>
            <li class="sidebar-list"><a class="sidebar-link sidebar-title active" href="#" data-bs-original-title="" title=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-anchor"><circle cx="12" cy="5" r="3"></circle><line x1="12" y1="22" x2="12" y2="8"></line><path d="M5 12H2a10 10 0 0 0 20 0h-3"></path></svg><span>کیت شروع</span><div class="according-menu"><i class="fa fa-angle-down"></i></div></a>
              <ul class="sidebar-submenu" style="display: block;">
                <li><a class="submenu-title active" href="#" data-bs-original-title="" title="">ورژن رنگی<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span><div class="according-menu"><i class="fa fa-angle-down"></i></div></a>
                  <ul class="nav-sub-childmenu submenu-content" style="display: block;">
                    <li><a href="index-kit.html" class="active" data-bs-original-title="" title="">لایه روشن</a></li>
                    <li><a href="layout-dark.html" data-bs-original-title="" title="">لایه تاریک</a></li>
                  </ul>
                </li>
                <li> <a class="submenu-title" href="#" data-bs-original-title="" title="">لایه صفحه<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span><div class="according-menu"><i class="fa fa-angle-left"></i></div></a>
                  <ul class="nav-sub-childmenu submenu-content" style="display: none;">
                    <li><a href="boxed.html" data-bs-original-title="" title="">حالت باکس</a></li>
                    <li><a href="layout-rtl.html" data-bs-original-title="" title="">نسخه LTR</a></li>
                  </ul>
                </li>
                <li> <a class="submenu-title" href="#" data-bs-original-title="" title="">فوتر ها<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span><div class="according-menu"><i class="fa fa-angle-left"></i></div></a>
                  <ul class="nav-sub-childmenu submenu-content" style="display: none;">
                    <li><a href="footer-light.html" data-bs-original-title="" title="">فوتر روشن</a></li>
                    <li><a href="footer-dark.html" data-bs-original-title="" title="">فوتر تاریک</a></li>
                    <li><a href="footer-fixed.html" data-bs-original-title="" title="">فوتر ثابت</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 277px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar simplebar-visible" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar simplebar-visible" style="height: 0px; display: none; transform: translate3d(0px, 0px, 0px);"></div></div></ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- Page Sidebar Ends-->